@import "./transition.css";
@import "./reset.css";
@import "./wangeditor.css";

/* 字体 */
*:not(button, button *, .n-spin, .n-spin *, .n-base-icon, .n-base-icon *) {
	font-family: var(--content);
	font-size: var(--content-font-size);
}


/* .n-spin {
	font-size: var(--n-size)
} */

.n-button .n-button__content {
	font-family: var(--button);
}

/* .n-button__content {
	font-family: var(--button) !important;
	font-size: var(--button-font-size) !important;
} */

@media (max-width: 768px) {

	/* 字体 */
	*:not(svg, button>*) {
		font-size: 4.266666vw;
	}

}

html,
body,
#app,
#__nuxt {
	height: auto
}

/* 数据表格 多选样式 */
.n-data-table-tr.n-data-table-tr--summary {
	position: sticky;
	top: 0;
	z-index: 1;
}

/* 卡片 */
.n-card {
	border-radius: 4px;
	/* background: #FFF; */
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
}

/* .n-card>.n-card__content {
	padding: 20px 14px;
} */




/* Sweep To Right */
.hvr-sweep-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	color: #fff;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 0 50%;
	transform-origin: 0 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
	color: white;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

#nova-header .n-menu .n-menu-item-content .n-menu-item-content-header a::before {
	width: 50%;
}



body>.n-drawer-container {
	z-index: 2;
}

/* h2 {
	@apply text-4xl py-4;
} */

select {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyMCAyMCc+PHBhdGggc3Ryb2tlPScjNmI3MjgwJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMS41JyBkPSdNNiA4bDQgNCA0LTQnLz48L3N2Zz4=');
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	appearance: none;
}

.n-form.n-form--inline .n-form-item:last-child {
	margin-right: 18px;
}