<style>.three-image__image {
  margin-bottom: 0.9375rem;min-height:250px }
  .three-image__image:last-child {
    margin-bottom: 0; }

@media (min-width: 768px) {
  .three-image__row {
    margin: 0 -1.6875rem; }
  .three-image__image {
    padding: 0 0.75rem;
    margin-bottom: 0; } }
</style>
<div class="container container-gap">
  {% assign  text= section.settings.text %}
<div class="row three-image__row">
{% assign defaultImg = '/themes/theme1/assets/image/44613f1sd54f.png' %}
{% for i in (1..3) %}
  {% assign image_src = 'image_src_' | append: i %}
  {% assign link_url = 'url_' | append: i %}
  {% assign imageUrl = section.settings[image_src] %}
  {% assign linkToUrl = section.settings[link_url].url %}
  {% assign link_type = section.settings[link_url].type %}
  <div class="col-sm-12 col-md-4 three-image__image">
    <a class="common__img-wrapper_lazy {% if linkToUrl %}common__mask{% endif %} {%if shop.env == 1 and imageUrl == "" %}common__img-desc{% endif %}" data-title="Image-{{i}}"
      style="padding-bottom:{{ imageUrl.height | image_padding_bottom : imageUrl.width, origin: 'unlimit'}}; width:100%" {% if linkToUrl %} href="{{ linkToUrl }}" {% endif %} {% if link_type == 'web' %} target="_blank" {% endif %}>
      {% assign src = imageUrl.src | default: defaultImg %}
      {% include 'lazyimg',src: src,class: 'img-full-width'      %}
    </a>
  </div>
{% endfor %}
</div>
</div>



{% schema %}
{
  "name": "three_images",
  "settings": [
    {
      "type": "header",
      "content": {
        "en-US": "Image 1",
        "zh-CN": "图1"
      }
    },
    {
      "type": "image_picker",
      "id": "image_src_1",
      "label": "",
      "info": {
        "zh-CN": "建议尺寸：宽度1000px,高度可自适应",
        "en-US": "Recommended resolution: width 1000px,responsive height"
      },
      "default": ""
    },
    {
      "type": "url",
      "id": "url_1",
      "label": {
        "en-US": "Link",
        "zh-CN": "链接"
      },
      "is_image_link": true,
      "default": ""
    },
    {
      "type": "header",
      "content": {
        "en-US": "Image 2",
        "zh-CN": "图2"
      }
    },
    {
      "type": "image_picker",
      "id": "image_src_2",
      "label": "",
      "info": {
        "zh-CN": "建议尺寸：宽度1000px,高度可自适应",
        "en-US": "Recommended resolution: width 1000px,responsive height"
      },
      "default": ""
    },
    {
      "type": "url",
      "id": "url_2",
      "label": {
        "en-US": "Link",
        "zh-CN": "链接"
      },
      "is_image_link": true,
      "default": ""
    },
    {
      "type": "header",
      "content": {
        "en-US": "Image 3",
        "zh-CN": "图3"
      }
    },
    {
      "type": "image_picker",
      "id": "image_src_3",
      "label": "",
      "info": {
        "zh-CN": "建议尺寸：宽度1000px,高度可自适应",
        "en-US": "Recommended resolution: width 1000px, responsive height"
      },
      "default": ""
    },
    {
      "type": "url",
      "id": "url_3",
      "label": {
        "en-US": "Link",
        "zh-CN": "链接"
      },
      "is_image_link": true,
      "default": ""
    }
  ],
  "presets": [
    {
      "name": "three_images",
      "cname": {
        "zh-CN": "多图-3",
        "en-US": "Images 3"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "display": true,
      "blocks": []
    }
  ]
}
{% endschema %}
