<style>
  .page_template a {
    color: var(--color-general-heading-text)
  }
  .page_template a:hover{
    color: var(--color-general-light-text)
  }
</style>
<div class="tw-overflow-hidden">
  <div class="tw-max-w-page tw-px-5 lg:tw-px-general-layout-spacing page-width page-content" style="margin:56px auto;">
    <div class="page_template mce__content xf-mce-view">
      {% if page.title %}<h3 class="tw-m-0 tw-text-center tw-text-8 tw-text-title-color type-heading-font-family page_template__title xf_skin_title_font">{{page.title}}</h3>{% endif %}
      {% if page.content %}<div class="tw-mt-10 xf_skin_text">{{page.content}}</div>{% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "page_detail",
  "settings": [],
  "presets": [
    {
      "name": "page_detail",
      "cname": {
        "zh-CN": "自定义页面",
        "en-US": "Custom page"
      },
      "category": {
        "zh-CN": "基础",
        "en-US": "Basic"
      },
      "ccategory": {
        "zh-CN": "基础",
        "en-US": "Basic"
      },
      "display": false,
      "blocks": []
    }
  ]
}
{% endschema %}