{% comment %} 白色loading蒙层 {% endcomment %}
<div style="display: none;" class="tw-flex cart_loading_mask tw-items-center tw-justify-center tw-bg-white tw-bg-opacity-30 tw-absolute tw-w-full tw-h-full tw-top-0 tw-left-0 tw-z-10">
  <div class="spinner tw-my-0 tw-mx-auto tw-w-16 tw-text-center">
    <div class="bounce1 tw-w-2 tw-h-2 lg:tw-w-3 lg:tw-h-3 tw-bg-text-color tw-rounded-full tw-inline-block"></div>
    <div class="bounce2 tw-w-2 tw-h-2 lg:tw-w-3 lg:tw-h-3 tw-bg-text-color tw-rounded-full tw-inline-block"></div>
    <div class="bounce3 tw-w-2 tw-h-2 lg:tw-w-3 lg:tw-h-3 tw-bg-text-color tw-rounded-full tw-inline-block"></div>
  </div>
</div>