<script id="cart-postage-art-tpl" type="text/html">
  <div class="tw-text-sm tw-leading-1.2 tw-tracking-normal">
    <% var freeAmountTips = $imports.finance_money_with_symbol(freeAmount); %>
    <% if (freeAmount > 0) { %>
      <%- $imports.getI18n("{{ langs.bag.general.enjoy_free_shopping | t }}", {
        '{% raw %}{{ amount }}{% endraw %}': '<span class="tw-font-bold money">'+freeAmountTips+'</span>'
      }) %>
    <% } else { %>
      {{ langs.bag.general.enable_free_shopping | t }}
    <% } %>
  </div>
  {% if settings.cart_settings_postage_bar_on %}
    {% assign color_button_bg = settings.color_button_bg | default: '#000' %}
    {% unless color_button_bg contains '#' %}
      {% assign color_button_bg = color_button_bg | color_to_hex %}
    {% endunless %}
    <div class="tw-h-1.25 lg:tw-h-1.5 tw-mt-4 lg:tw-mt-3 {%if settings.general_style == 'round'%}tw-rounded-md tw-overflow-hidden{%endif%}" style="background: {{color_button_bg | color_modify: 'alpha', 0.12}}"><div class="cart_progress-bar tw-transition-all tw-duration-1000 tw-h-full tw-bg-btn-bg-color {%if settings.general_style == 'round'%}tw-rounded-l-md{%endif%}" style="width: <%=initialValue||0%>;" data-width="<%=rate%>%"></div></div>
  {% endif %}
</script>