<div class="{{class}} tw-transform tw-transition-transform tw-duration-300 hover:tw-scale-110 tw-flex tw-items-center tw-justify-center tw-w-full tw-h-full tw-shadow-3 tw-rounded-full" style="color: {{color | default: '#000000'}}; background: {{background | default: '#ffffff'}}">
  {% include 'icon_arrow', icon_class: icon_class %}
</div>