{% javascript %}
  $.fn.product_detail = function (opt) {
    var $container = $("#product_detail_" + opt.product.id);
    var $document = $(document);
    var variants = opt.product.variants;
    var minPriceVariant = variants.reduce(function (prev, cur) { return parseFloat(prev.price) > parseFloat(cur.price) ? cur : prev }, variants[0]);
    var maxPriceVariant = variants.reduce(function (prev, cur) { return parseFloat(prev.price) < parseFloat(cur.price) ? cur : prev }, variants[0]);
    // 首次拿选择子商品必须从radio中过滤，js 加载前隐藏域的值还没初始化
    var selected = opt.product.options.reduce(function (prev, cur, i) { return prev.filter(function (v) { return v['option' + (i + 1)] == $("[name=option" + (i + 1) + "-" + opt.product.id + "]:checked").val() }) }, variants)[0] || {
      price: parseFloat(minPriceVariant.price),
      price_min: parseFloat(minPriceVariant.price),
      price_max: parseFloat(maxPriceVariant.price),
      compare_at_price: parseFloat(minPriceVariant.compare_at_price),
      off_ratio: parseFloat(minPriceVariant.off_ratio),
      sales: opt.product.sales,
      available_quantity: opt.product.available ? 999999 : 0,
      available: opt.product.available
    };
    $("#selected_variant_id_" + opt.product.id).val(selected.id || "");
    // 兼容
    $document.data("xfproduct", {
      product: opt.product,
      selected: selected,
      selectedVariants: selected.id ? [selected] : opt.product.variants,
      qty: parseInt($("#product_quantity_" + opt.product.id).val(), 10) || 1,
      element: $container.selector
    });
    $document.trigger('xf.product.variants.change', $document.data('xfproduct'));
    $container.data('xfproduct', $document.data('xfproduct'));
    // 商品详情accordion 在图片下方，移动端需要复制
    $("#product-info__desc-tab-below_m").html(($("#product-info__desc-tab-below_pc").html() || "").replace(new RegExp("r-" + opt.section_id, "gi"), "r-m"));
  }
  var proid = $('input[name="product_id"]').val();
	if(proid && $('.product-info__header .xfpmks').length <=0){
		$.getJSON(shop_url+"/products/markets/"+proid,function(res){$('.product-info__header .xfpmks').remove();$('.product-info__header').append('<span class="xfpmks"></span>');$('.product-info__header_title').after(res.market.djst);$('.product-info__header_title').after(res.market.sold);$('.product-info__body').before(res.market.dzgz);$('.product-info__body').before(res.market.view);$('.product-info__body').before(res.market.ships);$('.product-info__body').before(res.market.btime);$('.product-info__body').before(res.market.showt);$('.product-info__body').before(res.market.coupon);$('.product-info__qty_container').after(res.market.inventory);});
	}
{% endjavascript %}