<div class="tw-w-full tw-flex tw-items-center tw-mt-4 product-info__marketing-live-view" data-live-view-min="{{section.settings.live_view_min}}" data-live-view-max="{{section.settings.live_view_max}}" data-live-view-interval={{section.settings.live_view_interval}}>
  {% include 'icon_viewing',icon_class:"" %}
  <span class="tw-ml-4 tw-leading-none">{{ langs.product.product_detail.marketing_live_view | t: count: "<b></b>"}}</span>
</div>
{% javascript %}
  $(function () {
    // 当前浏览人数
    var $liveView = $(".product-info__marketing-live-view");
    if ($liveView.length) {
      var maxLiveView = parseInt($liveView.attr("data-live-view-max"), 10);
      var minLiveView = parseInt($liveView.attr("data-live-view-min"), 10);
      var liveViewInterval = parseInt($liveView.attr("data-live-view-interval"), 10);

      var intervalLiveView = function () {
        var value = parseInt(Math.random() * (maxLiveView - minLiveView)) + minLiveView;
        $liveView.find("b").html(value);
      }
      clearInterval($liveView.data("_interval"));
      $liveView.data("_interval", setInterval(intervalLiveView, liveViewInterval * 1000))
      intervalLiveView();
    }
  });
{% endjavascript %}