<div class="tw-mt-4 product-info__marketing-added-to-cart" data-added-to-cart-min="{{section.settings.added_to_cart_min}}" data-added-to-cart-max="{{section.settings.added_to_cart_max}}" data-added-to-cart-interval="{{section.settings.added_to_cart_interval}}" >
  <span class="tw-leading-none" >{{ langs.product.product_detail.marketing_added_to_cart | t: count: "<b></b>"}}</span>
</div>
{% javascript %}
  $(function () {
    var $added = $(".product-info__marketing-added-to-cart");
    if ($added.length) {
      var maxAdded = parseInt($added.attr("data-added-to-cart-max"), 10);
      var minAdded = parseInt($added.attr("data-added-to-cart-min"), 10);
      var addedInterval = parseInt($added.attr("data-added-to-cart-interval"), 10);
      var intervalAdded = function () {
        var value = parseInt(Math.random() * (maxAdded - minAdded)) + minAdded;
        $added.find("b").html(value);
      }
      clearInterval($added.data("_interval"));
      $added.data("_interval", setInterval(intervalAdded, addedInterval * 1000))
      intervalAdded();

    }
  });
{% endjavascript %}