{% raw %}
<script>
/**
 * serial_list : 列表中的图片按序显示动画
 */
/* global $:true */
$(function () {

  var loaded = [];
  $('<style type="text/css" class="serial_list">.serial-item .serial-item-unveiling{ opacity: 0; }.serial-item .with-transition{ transition: opacity 0.2s ease-in; }.serial-item .serial-item-unveil{ opacity: 1; }</style>').appendTo(document.body);

  document.addEventListener('lazybeforeunveil', function (e) {
    var $target = $(e.target);
    var $item = $(e.target).parents(".serial-item");
    if (!$item.length) return;
    $target.addClass("serial-item-unveiling");
    // mask 补上过渡背景
    $target.nextAll(".serial-item-mask").remove();
    $target.after('<div class="lazyloading serial-item-mask" style="position:absolute;left:0;right:0;top:0;bottom:0;width:100%;height:100%;"></div>')
    // 5s 超时
    $item.data("_serial_timeout", setTimeout(function () {
      var idx = loaded.indexOf($item[0]);
      idx != -1 && (loaded.splice(idx, 1));
      $item.find(".serial-item-mask").remove();
      $item.find(".serial-item-unveiling").removeClass("serial-item-unveiling");
    }, 5000))
  }, false);

  document.addEventListener('lazyloaded', function (e) {
    var $item = $(e.target).parents(".serial-item");
    if (!$item.length) return;
    loaded.push($item[0]);
    clearTimeout($item.data("_serial_timeout"));
  }, false);

  clearInterval($(document).data("_serial_list_interval"));
  $(document).data("_serial_list_interval", setInterval(function () {
    if (!loaded.length) return;
    var targetItem = $(".serial-item:has(.serial-item-unveiling):not(:has(.serial-item-unveil))")[0];
    var idx = loaded.indexOf(targetItem);
    if (idx != -1) {
      loaded.splice(idx, 1);
      var $target = $(".lazyloaded,.lazyloading,.lazyload", targetItem);
      $target.nextAll(".serial-item-mask").remove();
      $target.addClass("with-transition");
      $target.addClass("serial-item-unveil");

    }
  }, 200));
});
</script>
{% endraw %}