{% raw %}
<script>
/**
* loading:
*  $.loading.show({selector:".containerselector"});
*  $.loading.hide();
*  $.loading.getState(); // return 1/0
*/
$.loading = {
  state: 0,
  $wrapper: $('<div class="tw-fixed tw-inset-0 tw-bg-black tw-bg-opacity-30 tw-z-tooltip tw-flex tw-items-center tw-justify-center"><div class="spinner tw-mx-auto tw-w-16 tw-text-center"><div class="bounce1 tw-w-2 tw-h-2 lg:tw-w-3 lg:tw-h-3 tw-bg-white tw-rounded-full tw-inline-block" ></div ><div class="bounce2 tw-w-2 tw-h-2 lg:tw-w-3 lg:tw-h-3 tw-bg-white tw-rounded-full tw-inline-block"></div><div class="bounce3 tw-w-2 tw-h-2 lg:tw-w-3 lg:tw-h-3 tw-bg-white tw-rounded-full tw-inline-block"></div></div ></div>'),
  $inner_wrapper: $('<div class="tw-absolute tw-inset-0 tw-z-tooltip tw-flex tw-items-center tw-justify-center" style="text-indent:0;"><div class="spinner tw-mx-auto tw-w-16 tw-text-center"><div class="bounce bounce1 tw-w-2 tw-h-2 lg:tw-w-3 lg:tw-h-3  tw-rounded-full tw-inline-block" ></div ><div class="bounce bounce2 tw-w-2 tw-h-2 lg:tw-w-3 lg:tw-h-3  tw-rounded-full tw-inline-block"></div><div class="bounce bounce3 tw-w-2 tw-h-2 lg:tw-w-3 lg:tw-h-3 tw-rounded-full tw-inline-block"></div></div ></div>'),
  show: function (opt) {
    if (this.state === 0) {
      if (opt && opt.selector) {//添加可以选择某个容器进行loading,但是要重写样式进行覆盖
        $(opt.selector).prepend(this.$inner_wrapper).css({"text-indent": "-9999px","pointer-events":"none"});
        this.selector = opt.selector;
        this.$inner_wrapper.find(".bounce").css("background-color", $(opt.selector).css("color"))
      } else {
        $(document.body).prepend(this.$wrapper)
      }
      this.state = 1;
    }
    return this;
  },
  hide: function () {
    if (this.state === 1) {
      this.$wrapper.remove();
      this.$inner_wrapper.remove();
      this.selector && $(this.selector).css({ "text-indent": "", "pointer-events": "" });
      this.state = 0
      this.selector = 0;
    }
    return this;
  },
  getState: function () {
    return this.state;
  }
};

/**
 * toast
 * $.toast.show({ content: 'this is content', type: 'normal', timeOut: 2000, });
 * $.toast.hide();
*/
$.toast = {
  defaultOptions: {
    content: 'this is content',
    type: 'normal',
    timeOut: 2000,
  },
  state: 0,
  style: {
    normal: 'tw-text-toast-text-normal-color tw-bg-toast-bg-normal-color',
    warning: 'tw-text-toast-text-warning-color tw-bg-toast-bg-warning-color',
    success: 'tw-text-toast-text-success-color tw-bg-toast-bg-success-color',
    error: 'tw-text-toast-text-error-color tw-bg-toast-bg-error-color',
  },
  show: function (options) {
    options = $.extend({}, this.defaultOptions, options);
    this.options = options; // 本地show  options
    if (this.state == 1) {
      this.hide()
    }
    $('<div class="tw-fixed tw-z-modal tw--translate-y-full tw-top-0 tw-left-4 tw-right-4 tw-mx-auto tw-max-w-100 tw-text-center tw-box-border tw-px-8 tw-py-3 tw-rounded-lg tw-shadow-3 tw-transform tw-transition-all tw-duration-300 tw-ease-linear '+ this.style[options.type] +'" id="toast"><div class="tw-text-base" id="toast-message">' + options.content + '</div></div>').appendTo(document.body);
    setTimeout(function () {
      $("#toast").toggleClass('tw--translate-y-full tw-translate-y-5')
    }, 0);
    this.state = 1;
    var that = this;
    clearTimeout(this.animationTimeout);
    clearTimeout(this.timeout);
    this.animationTimeout = setTimeout(function () {
      $("#toast").toggleClass('tw--translate-y-full tw-translate-y-5')
    }, Number(options.timeOut));
    this.timeout = setTimeout(function () {
      that.hide();
    }, Number(options.timeOut)+300);
  },
  getState: function () {
    return this.state;
  },
  hide: function () {
    $("#toast").remove();
    this.state = 0;
    clearTimeout(this.timeout);
    clearTimeout(this.animationTimeout);
  }
};


$(function () {
  // 商品列表中子商品切换
  $(document).on('click', '.product-snippet__variants_radio[data-product-variants]', function () {
    if ($(this).hasClass('tw-shadow-inset-checked')) {
      // 重复点击取消选中，图片换成商品第一张图
      $(this).parent().children('.product-snippet__variants_radio').first().click()
      return
    }
    var variant = $(this).data('product-variants');
    var $productImgWrapper = $(this).parent().siblings('.product-snippet__img-wrapper');
    var $productImg = $productImgWrapper.children('img').first();
    var imports = window.template.defaults.imports;
    $(this).siblings('.tw-shadow-inset-checked').removeClass('tw-shadow-inset-checked')
    $(this).toggleClass('tw-shadow-inset-checked')
    $productImg.removeClass('tw-animate-zoom-fade-small')
    if (variant && variant.image && variant.image.src && $productImg.length > 0) {
      var data_src = imports.reset_image(variant.image.src, '{width}x');
      var rate = imports.image_padding_bottom(variant.image.width, variant.image.height);
      var wrapper_rate = $productImgWrapper.innerHeight() / $productImgWrapper.innerWidth() * 100
      var img_size = imports.getNumber(rate) > imports.getNumber(wrapper_rate) ? { width: 'auto', height: '100%' } : { height: 'auto', width: '100%' };
      $productImg.attr({ 'data-src': data_src }).removeClass('lazyloaded').addClass('lazyload tw-animate-zoom-fade-small').css(img_size);
    }
  });

  // 图片加载过程中的背景
  // 适用于 <img class="loading_bg" src="" />
  $(document.body).find(".loading_bg").each(function () {
    if (this.complete) {
      $(this).removeClass("loading_bg");
    } else {
      $(this).one("load", function () {
        $(this).removeClass("loading_bg");
      })
    }
  });
});


/* global $,template */
$(function () {
  var $document = $(document);
  var $body = $(document.body);

  // quickview
  $(document).on('click', "[data-quick-shop]", function (e, options) {
    var product_id = e.currentTarget.getAttribute("data-track-product-id");
    $.loading.show();
    $("#quick-shop").remove();
    $.get(shop_url+"/products/" + product_id+'?source=quick', function (res) {
      $.loading.hide();
      var product = res && res.data && res.data.product;
      if (!product) return;
      var originData = $(document).data('xfproduct');
      $(document).off('click.modal', '.quick-shop-modal').on('click.modal', '.quick-shop-modal', function (e) {
        var $target = $(e.target);
        if (($target.parents(".quick-shop-modal__content").length == 1 || $target.is(".quick-shop-modal__content")) && !($target.is(".quick-shop-close") || $target.parents(".quick-shop-close").length == 1)) return;
        $(document).data('xfproduct', originData);
      });
      var selected = product.variants.filter(function(v){
        return v.available_quantity > 0
      })[0] || product.variants[0];
      $(document).data('xfproduct', {
        product: product,
        selected: selected,
      })
      $body.addClass("tw-overflow-hidden");
      $('<div class="tw-fixed tw-inset-0 tw-bg-black tw-bg-opacity-30  tw-flex tw-items-end lg:tw-items-center tw-justify-center tw-z-modal quick-shop-modal" id="quick-shop"><div class="tw-w-full lg:tw-w-180 tw-bg-white tw-box-border tw-p-0 lg:tw-p-8 tw-max-h-screen tw-overflow-y-scroll tw-overflow-x-visible tw-relative ' + (window.SHOP_PARAMS.borderRadius ? " lg:tw-rounded-lg " : "") + ' quick-shop-modal__content tw-transition-all tw-duration-200 tw-ease-in-out tw-transform lg:tw-scale-75 md:tw-translate-y-full tw-opacity-0">' + template('quick_view_tpl', { product: product, selectedVariant: selected }) + '<a href="javascript:;" class="tw-absolute tw-right-0 tw-top-0 tw-h-12 tw-w-12 tw-text-current tw-flex tw-items-center tw-justify-center tw-no-underline tw-text-2xl quick-shop-close" >' + $("#close_svg").html() + '</a></div></div>').appendTo(document.body);
      setTimeout(function () {
        $(".quick-shop-modal__content").removeClass("lg:tw-scale-75 md:tw-translate-y-full tw-opacity-0");
      }, 0);
    });
  }).on("click", ".quick-shop-modal", function (e) {
    var $target = $(e.target);
    if (($target.parents(".quick-shop-modal__content").length == 1 || $target.is(".quick-shop-modal__content")) && !($target.is(".quick-shop-close") || $target.parents(".quick-shop-close").length == 1)) return;
    $("#quick-shop").remove();
    $body.removeClass("tw-overflow-hidden");
  });
  $(document.body).on("xf.addToCart", function () {
    $("#quick-shop").remove();
    $body.removeClass("tw-overflow-hidden");
  });

  // cart 更换子商品
  // <a data-action="switch-variant" data-track-product-id="[product-id]" data-product-variant="[variant-id]" data-product-variant-qty="2" data-param="[any param]" >edit</a>
  /* $(document.body).on("variant-switch",function(e,data){
    data.param
    data.new_variant_id
    data.new_qty
  })*/
  $body.on("click", "[data-action=switch-variant]", function (e) {
    var $target = $(e.currentTarget);
    var variant = $target.attr("data-product-variant");
    var qty = $target.attr("data-product-variant-qty") || 1;
    var product_id = $target.attr("data-track-product-id");
    $.loading.show();
    $("#switch-variant").remove();
    $.get(shop_url+"/products/" + product_id+'?source=quick', function (res) {
      $.loading.hide();
      var product = res && res.data && res.data.product;
      if (!product) return;
      var selected = product.variants.filter(function(v){
        return v.id == variant
      })[0] || null;
      $(document).data('xfproduct', {
        product: product,
        selected: selected
      })
      var html = template('quick_view_tpl', { product: product, selectedVariant: selected });
      $body.addClass("tw-overflow-hidden");
      $('<div class="tw-fixed tw-inset-0 tw-bg-black tw-bg-opacity-30  tw-flex tw-items-end lg:tw-items-center tw-justify-center tw-z-modal switch-variant-modal" id="switch-variant"><div class="tw-w-full lg:tw-w-180 tw-bg-white tw-box-border tw-p-0 lg:tw-p-8 tw-max-h-screen tw-overflow-visible tw-relative ' + (window.SHOP_PARAMS.borderRadius ? " lg:tw-rounded-lg " : "") + ' switch-variant-modal__content tw-transition-all tw-duration-200 tw-ease-in-out tw-transform lg:tw-scale-75 md:tw-translate-y-full tw-opacity-0">' + html + '<a href="javascript:;" class="tw-absolute tw-right-0 tw-top-0 tw-h-12 tw-w-12 tw-text-current tw-flex tw-items-center tw-justify-center tw-no-underline tw-text-2xl switch-variant-close" >' + $("#close_svg").html() + '</a></div></div>').appendTo(document.body);
      setTimeout(function () {
        $(".switch-variant-modal__content").removeClass("lg:tw-scale-75 md:tw-translate-y-full tw-opacity-0");
      }, 0);
      var $btn = $("#switch-variant .product-info__add-to-cart");
      $btn.html($btn.attr("data-switch-variant")).attr("data-click", "switchVariant").attr("data-track", "switch-variant");
      $target.addClass("switching-variant");
    });

  }).on("click", ".switch-variant-modal", function (e) {
    var $target = $(e.target);
    if (($target.parents(".switch-variant-modal__content").length == 1 || $target.is(".switch-variant-modal__content")) && !($target.is(".switch-variant-close") || $target.parents(".switch-variant-close").length == 1)) return;
    $("#switch-variant").remove();
    $(".switching-variant").removeClass("switching-variant");
    $body.removeClass("tw-overflow-hidden");
  }).on("click", "[data-click=switchVariant]", function () {
    var productData = $(document).data("xfproduct");
    var $target = $(".switching-variant");
    $.loading.show({ selector: ".product-info__add-to-cart" });
    $body.trigger("variant-switch", {
      param: $target.attr("data-param") || "",
      handle: $target.attr("data-product-handle"),
      variant: $target.attr("data-product-variant"),
      qty: $target.attr("data-product-variant-qty") || 1,
      new_variant: productData.selected.id,
      new_qty: productData.qty
    }).one("variant-switch-close", function () {
      $.loading.hide();
      $(".switch-variant-close").click();
    });
  });
  $document.on('xf.product.variants.change', function (e, data) {
    var $btn = $("#switch-variant .product-info__add-to-cart");
    $btn.length && ($btn.html($btn.attr("data-switch-variant")));
  });
});

/* product */
$(function () {
  var $document = $(document);
  var $body = $(document.body);
  //子商品切换
  $body.on("change", ".product-info__variants_radio", function () {
    // checked
    var productData = $(document).data("xfproduct");
    var variants = productData.product.variants.slice();
    var options = productData.product.options;
    var selectedOpts = [];
    $("#product_detail_" + productData.product.id).find('[name^=option]:checked, option[name^=option]:selected').each(function (i, r) {
      var indexes = r.id.split("-"); // ["option1","0"]
      var optIdx = parseInt(indexes[0].substr(6), 10) - 1;
      var valueIdx = parseInt(indexes[1], 10);
      selectedOpts.push(indexes[0]);
      variants = variants.filter(function (v) { return v[indexes[0]] == options[optIdx].values[valueIdx] });
    });
    variants.length && ($("#selected_variant_id_" + productData.product.id).val(selectedOpts.length == productData.product.options.length ? variants[0].id : ""));
    // 重新计算radio disabled状态
    $("#product_detail_" + productData.product.id).find('input.product-info__variants_radio:not(:checked),option.product-info__variants_value:not(:selected)').each(function (i, r) {
      var indexes = r.id.split("-"); // ["option1","0",'id']
      var optIdx = parseInt(indexes[0].substr(6), 10) - 1;
      var valueIdx = parseInt(indexes[1], 10);
      var tmpVariant = $.extend(true, {}, variants[0]);
      tmpVariant[indexes[0]] = options[optIdx].values[valueIdx];
      var tmpSelectedOpts = selectedOpts.slice();
      tmpSelectedOpts.indexOf(indexes[0]) == -1 && (tmpSelectedOpts.push(indexes[0]));
      // $(r).prop("disabled", productData.product.variants.filter(function (v) {
      //   return (v.option1 == tmpVariant.option1 || tmpSelectedOpts.indexOf('option1') === -1) && (v.option2 == tmpVariant.option2 || tmpSelectedOpts.indexOf('option2') === -1) && (v.option3 == tmpVariant.option3 || tmpSelectedOpts.indexOf('option3') === -1) && v.available_quantity > 0;
      // }).length == 0);
      $(r).parent('select').val() && $(r).parent('select').removeClass('tw-text-black tw-opacity-50')
    })
    var minPriceVariant = variants.reduce(function (prev, cur) { return parseFloat(prev.price) > parseFloat(cur.price) ? cur : prev }, variants[0]);
    var maxPriceVariant = variants.reduce(function (prev, cur) { return parseFloat(prev.price) < parseFloat(cur.price) ? cur : prev }, variants[0]);
    productData.selected = (selectedOpts.length == productData.product.options.length ? variants[0] : {
      price: parseFloat(minPriceVariant.price),
      price_min: parseFloat(minPriceVariant.price),
      price_max: parseFloat(maxPriceVariant.price),
      compare_at_price: parseFloat(minPriceVariant.compare_at_price),
      off_ratio: parseFloat(minPriceVariant.off_ratio),
      sales: productData.product.sales,
      available_quantity: 999999,
      available: productData.product.available
    });
    productData.selectedVariants = variants;
    productData.selected && (productData.qty = Math.min(parseInt($("#product_quantity_" + productData.product.id).val(), 10), productData.selected.available_quantity) || 1);
    $(document).data("xfproduct", productData);

    // add_to_cart checkout paypal_edpress
    (function (data) {
      var $container = $("#product_detail_" + data.product.id);
      var $addToCart = $container.find(".product-info__add-to-cart");
      var $buyNow = $container.find(".product-info__buy-now");
      var $btns = $container.find('.product-info__btn');
      if (data.selectedVariants.length) { // 存在款式
        var disabled = !data.selected.available;
        $addToCart.prop("disabled", disabled).html(disabled ? $addToCart.attr("data-sold-out") : $addToCart.attr("data-on-sale"));
        $buyNow[disabled ? "hide" : "show"]();
        $btns[disabled ? 'addClass' : 'removeClass']('variant_disabled');
      } else { // 没有款式
        $addToCart.prop("disabled", true).html($addToCart.attr("data-unavailable"));
        $buyNow.hide();
        $btns['addClass']('variant_disabled');
      }
    })(productData);

    if (productData.selectedVariants.length === 1) {
      $(document).trigger('xf.product.variants.change', productData);
      // quickview 中不更新url
      if ($('#quick-shop').length) return;
      window.history.replaceState(null, '', '?' + $.toQuery($.extend($.params(), {
        variant: productData.selectedVariants[0].id
      })))
    }
  });

  // +/-
  $body.on('click', "[data-click=decrease],[data-click=increase]", function (e) {
    var t = $(e.currentTarget).attr("data-click");
    var productData = $document.data("xfproduct");
    productData.qty = productData.qty || 1;
    productData.qty += (t == "decrease" ? -1 : 1);
    $document.data("xfproduct", productData);
    $document.trigger('xf.product.variants.change', $document.data('xfproduct'));
  })

  // input product_quantity
  $body.on('blur', ".product-info__qty_num", function (e) {
    var productData = $document.data("xfproduct");
    var correctedValue = Math.max(Math.min(parseInt($(this).val().replace(/\D/g, "").replace(/^0*/, ""), 10) || 0, productData.selected.available_quantity || productData.product.available_quantity), 1);
    productData.qty = parseInt(correctedValue, 10);
    $body.trigger('track', {eventName: 'product_input_quantity'})
    $document.data("xfproduct", productData);
    $document.trigger('xf.product.variants.change', $document.data('xfproduct'));
  })

  // slider switch ajax image
  $document.on('xf.product.variants.change', function (e, data) {
    if (!data.selected || !data.selected.image) return;
    var $container = $("#product_detail_" + data.product.id);
    var $slider = $container.find(".support-slick:eq(0) .slides");
    var idx = data.product.images.findIndex(function (row) {
      return row.src == data.selected.image.src;
    });
    $slider.hasClass('slides-initialized') && $slider.trigger('slidesGoTo', {i: idx});
    var $content = $(".properties-content");
    $content.css("position") == "sticky" && $("html,body").animate({ scrollTop: $slider.find("[data-grid-item-idx=" + idx + "]").offset().top - parseInt($content.css("top"), 10) });
    // product-image-ajax
    var $image = $container.find(".product-image-ajax img");
    var new_src = window.template.defaults.imports.reset_image(data.product.images[idx].src, "{width}");
    $image.attr("data-src") != new_src && ($image.attr("data-src", new_src).addClass("lazyload").removeClass("lazyloaded"));
  });

  // qty, sku, weight, barcode
  $document.on('xf.product.variants.change', function (e, data) {
    if (!data.selected) return;
    var $container = $("#product_detail_" + data.product.id);
    var $decrease = $container.find("[data-click=decrease]");
    $decrease.attr("disabled", data.qty == 1 || !data.product.available || !(data.selected || { available: true }).available);
    var $increase = $container.find("[data-click=increase]");
    $increase.attr("disabled", data.qty >= data.selected.available_quantity || !data.product.available || !(data.selected || { available: true }).available);
    var $num = $container.find(".product-info__qty_num");
    $num.attr("disabled", !data.product.available || !(data.selected || { available: true }).available).val(data.qty > 0 ? data.qty : 1);
    $container.find('.product-info__header-sku')[(data.selectedVariants.length <= 1 && data.selected.sku) ? 'show' : 'hide']().find('span').html(data.selected.sku);
    $container.find('.product-info__weight')[(data.selectedVariants.length <= 1 && +data.selected.weight > 0) ? 'show' : 'hide']().find('span').html(data.selected.weight + data.selected.weight_unit);
    $container.find('.product-info__barcode')[(data.selectedVariants.length <= 1 && data.selected.barcode) ? 'show' : 'hide']().find('span').html(data.selected.barcode);
    var $inventory = $("#product_detail_" + data.product.id + " .product-info__marketing-inventory")
    if ($inventory.length && !$inventory.data('random')) {
      $inventory.toggleClass('tw-hidden', !(data.selectedVariants.length <= 1 && data.selected.inventory_quantity > 0 && data.product.inventory_tracking)).find('span b').html(data.selected.inventory_quantity);
    }
  });

  // price section
  $document.on('xf.product.variants.change', function (e, data) {
    if (!data.selected) return;
    var $container = $("#product_detail_" + data.product.id);
    var imports = template.defaults.imports;
    var $price = $container.find(".product-info__header_price");
    $price.html(typeof (data.selected.price_min) != "undefined" ? (imports.finance_money_with_symbol(data.selected.price_min) + (data.selected.price_max > data.selected.price_min ? ("- " + imports.finance_money_with_symbol(data.selected.price_max)) : "")) : (imports.finance_money_with_symbol(data.selected.price)));
    var $compare_at_price = $container.find(".product-info__header_compare-at-price");
    $compare_at_price.html(imports.finance_money_with_symbol((data.selected.compare_at_price))).toggleClass('tw-hidden', !(data.selected.off_ratio > 0));
    var $off = $container.find(".product-info__off");
    $off.html(($off.attr("data-off") || "").replace("[count]", data.selected.off_ratio)).toggleClass('tw-hidden', !(data.selected.off_ratio > 0));
    var $save = $container.find(".product-info__save");
    $save.html(($save.attr("data-save") || "").replace("[saved]", template.defaults.imports.finance_money_with_symbol((data.selected.compare_at_price - data.selected.price).toFixed(2)))).toggleClass('tw-hidden', !(data.selected.off_ratio > 0));
  });

  //切换tab
  $body.on("click", ".product-info__label_tabs .product-info__desc-tab-header", function (e) {
    var _for = $(this).attr('for');
    var $cb = $('input[id=' + _for + ']');
    $('.product-info__label_tabs label').removeClass('product-info__label_tabs_checked');
    $(this).addClass('product-info__label_tabs_checked');
    $('.product-info__label_tabs').animate({
      scrollLeft: $('.product-info__label_tabs').scrollLeft() + $(this).offset().left + ($(this).width() / 2 - $(window).width() / 2)
    }, 200);
    $cb.addClass("pending").prop("checked", true);
    $(".product-info__desc-tab-cb:not(.pending)").prop("checked", false);
    $cb.removeClass("pending");
    e.preventDefault();
    return false;
  });

  // select first tab when resized
  $(window).on("resize", $.debounce(function () {
    var isTab = $(".product-info__desc-tab").is('.tab');
    if (isTab && $(".product-info__desc-tab-cb:checked").length != 1) {
      $(".product-info__desc-tab-cb").prop("checked", false).eq(0).prop("checked", true);
    }
  }));

  // 获取自定义参数
  function getProperties() {
    var productData = $document.data("xfproduct");
    var properties = {};
    var productId = productData.product.id;
    var $properties = $(".product-info-" + productId);
    var formdata = $properties.serializeArray();
    for (var i = 0; i < formdata.length; i++) {
      var result = /properties\[(.+)\]/g.exec(formdata[i].name);
      if (result && result[1]) {
        properties[result[1]] = formdata[i].value;
      }
    }
    var items = $properties.find('.required');
    var valid = true;
    for (i = 0; i < items.length; i++) {
      var $parent = $(items[i]).parents('.line-item-property__field');
      $parent.find('.not-empty').remove();
      if ($(items[i]).val() == '') {
        $(items[i]).addClass('not-empty-field');
        $parent.append('<div class="not-empty" style="color: #ea0000;">can not be empty</div>');
        valid = false;
      } else {
        $parent.removeClass('not-empty-field');
      }
    }
    return valid ? properties : false;
  }
  // add to cart
  $(document).on("xf.common.product.atc", function (e, options) {
    var properties = options.properties || {};
    $.loading.show({ selector: ".product-info__add-to-cart" });
    $.post(shop_url+"/cart/add", {
      proid: options.product_id,
      varid: options.variant_id,
      num: options.quantity,
      source: 'xfproduct',
      properties: properties,
    }).always(function (res) {
      $.loading.hide();
      var data = res.readyState ? res.responseJSON : res;
      if (data.state === "success" || data.state == "1") {
        $(document.body).trigger("xf.addToCart", {
          id: options.product_id,
          number: options.quantity,
          childrenId: options.variant.id,
          item_price: options.variant.price,
          name: options.product.title,
          type: options.variant.type ? options.variant.type : options.product.type,
          properties: properties,
          quantity: options.quantity,
          variant_id: options.variant.id,
          product_id: options.product_id,
          product: options.product,
          variant: options.variant,
          source: options.source,
          process: options.process
        });
        $(document).trigger('xf.common.cart.change');
      } else {
        $.toast.show({ content: data.message || 'Unknown error', type: 'error' });
      }
    })

  })
  $body.on("click", "[data-click=addToCart]", function (e) {
    var properties = getProperties();
    if (!properties) return;
    var productData = $document.data("xfproduct");
    var values = $.params("?" + $(e.target).parents(".product-info").serialize());
    if (!values.variant_id) {
      $.toast.show({ type: 'error', content: window.SHOP_PARAMS.product_lang.select_variant });
      return;
    }
    values.properties = properties;
    values.process = (window.SHOP_PARAMS.product_settings || {}).add_to_cart_process;
    values.product = productData.product;
    values.variant = productData.selected;
    values.quantity = productData.qty || 1;
    $(document).trigger("xf.common.product.atc", values);
  })
  // buy now
  $(document).on("xf.common.product.buy_now", function (e, options) {
    var properties = options.properties || {};	
    $.loading.show({ selector: ".product-info__buy-now" });
    $.post(shop_url+'cart/buy_now', {      
		proid: options.product_id,
        varid: options.variant_id,
        num: options.quantity,		
        properties: properties,
        key_o: key_o,
		combos:options.combos || '',
        source: 'xfproduct',
    }, function (ret) {
      if (ret.state === 'success' || ret.state == "ok") {
        return (window.safeHref = '/checkouts/' + ret.okey + '?step=contact_information');
      } else {
		$.loading.hide();
        $.toast.show({
          type: 'error',
          content:
            {
              '30003': "{{ langs.bag.errors.removed | t }}",
              'line_items_variant_withdraw': "{{ langs.bag.errors.not_in_stock | t }}",
              'line_items_variant_sold_out': "{{ langs.bag.errors.sold_out | t }}"
            }[ret.state] || ret.msg || "{{ langs.bag.errors.reorder | t }}"
        });
      }
    });
  })
  $body.on("click", "[data-click=submit]", function (e) {
    var values = $.params("?" + $(e.target).parents(".product-info").serialize());
    if (!values.variant_id) {
      $.toast.show({ type: 'error', content: window.SHOP_PARAMS.product_lang.select_variant });
      return;
    }
    var properties = getProperties();
    if (!properties) return;
    values.properties = properties;
    $(document).trigger("xf.common.product.buy_now", values);
  })

  // hover 色卡提示
  var $label = $('.variant_color-label');
  $body.on("mouseenter", ".product-info__swatch,.product-info__thumbnail", function (e) {
    var $swatch = $(e.currentTarget);
    $label = $swatch.parents('.product-info__variants').find('.variant_color-label');
    $label.data("_color", $label.html()).html($swatch.attr("data-variants-value"));
  }).on("mouseleave", ".product-info__swatch,.product-info__thumbnail", function (e) {
    $label.data("_color") && ($label.html($label.data("_color")));
  });
  $(document).on("click", ".product-info__swatch,.product-info__thumbnail", function () {
    $label.data("_color", "");
  })
});

</script>
{% endraw %}
{% include 'zoom' %}