<style>
  .page_template {
    margin: 0 auto;
  }
  .page_template__title {
    margin-bottom: 2.5rem;
  }
  @media (max-width: 767.98px) {
    .page_template {
      padding: 0 0.9375rem;
    }
    .page_template__title {
      margin-bottom: 1.5625rem;
    }
  }
</style>
<div class="overflow-hidden">
  <div class="container container-page-gap">
    <div class="row">
      <div class="page_template xf-mce-view w-100">
        {% if page.title %}
          <p class="page_template__title h2 w-100 text-center xf_skin_title_font">{{ page.title }}</p>
        {% endif -%}
        {%- include 'pages', info: page %}
        {% if page.content %}
          <div class="xf_skin_text">{{ page.content }}</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% include 'page_detail_css' %}
{% schema %}
{
  "name": "page_detail",
  "settings": [],
  "presets": [
    {
      "name": "page_detail",
      "cname": {
        "zh-CN": "自定义页面",
        "en-US": "Custom page"
      },
      "category": {
        "zh-CN": "基础",
        "en-US": "Basic"
      },
      "ccategory": {
        "zh-CN": "基础",
        "en-US": "Basic"
      },
      "display": false,
      "blocks": []
    }
  ]
}
{% endschema %}
