<div class="container not-found container-empty-gap">
  <div class="row">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center text-center">
      <span class="not-found__title xf_skin_title_font_family">{{ langs.general.404.title | t }}</span>
      <span class="not-found__text ">{{ langs.general.404.tips | t }}</span>
      <a href="/" class="btn btn-primary xf_skin_title_font not-found__btn">{{ langs.general.404.continue_shopping | t }}</a>
    </div>
  </div>
</div>

<style>.not-found__btn {
  width: 100%;
  font-size: 0.9375rem;
  line-height: 1.875rem; }
  @media (min-width: 768px) {
    .not-found__btn {
      width: 15rem;
      font-size: 1rem;
      line-height: 2.25rem; } }

.not-found__title {
  font-size: 1.375rem;
  line-height: 1.9375rem;
  letter-spacing: 2.2px;
  color: #000; }
  @media (min-width: 768px) {
    .not-found__title {
      font-size: 2.25rem;
      line-height: 2.625rem; } }

.not-found__text {
  color: #777;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin: 1.4375rem 0; }
  @media (min-width: 768px) {
    .not-found__text {
      font-size: 1rem;
      margin: 1.875rem 0; } }
</style>


{% schema %}
{
  "name": "not_found",
  "settings": [],
  "presets": [
    {
      "name": "not_found",
      "cname": {
        "en-US": "404 page",
        "zh-CN": "404页面"
      },
      "category": {
        "zh-CN": "基础",
        "en-US": "Basic"
      },
      "ccategory": {
        "zh-CN": "基础",
        "en-US": "Basic"
      },
      "display": false
    }
  ]
}
{% endschema %}