{
  "sections": {
    "1541676727396": {
      "card_name": {
        "en-US": "Slideshow",
        "zh-CN": "轮播图"
      },
      "type": "slide",
      "settings": {
        "style": "1",
        "is_auto_play": true,
        "delay": "5000",
        "img_height": "large",
        "text_size": "small"
      },
      "blocks": [{
        "type": "banner",
        "settings": {
          "src": "",
          "mobile_src": "",
          "opacity": 0,
          "alignment": "center",
          "title": "",
          "sub_title": "",
          "url": null,
          "button_label": "Learn More",
          "button_bg_color": "#FFFFFF",
          "button_text_color": "#000000",
          "text_color": "#FFFFFF"
        }
      }, {
        "type": "banner",
        "name": "banner广告图",
        "max_blocks": 10,
        "settings": {
          "src": "",
          "mobile_src": "",
          "url": "",
          "opacity": 0,
          "alignment": "top",
          "title": "",
          "sub_title": "",
          "button_label": "Learn More"
        }
      }],
      "version": "1"
    },
    "1584340459232": {
      "name": "three_images",
      "cname": {
        "en-US": "Multigraph - 3",
        "zh-CN": "多图-3"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "display": true,
      "blocks": [],
      "settings": {
        "image_src_1": "",
        "url_1": "",
        "image_src_2": "",
        "url_2": "",
        "image_src_3": "",
        "url_3": ""
      },
      "type": "three_images",
      "version": 1,
      "card_name": {
        "en-US": "Multigraph - 3",
        "zh-CN": "多图-3"
      }
    },
    "1584340463155": {
      "name": "video",
      "cname": {
        "en-US": "Video",
        "zh-CN": "视频"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "display": true,
      "blocks": [],
      "settings": {
        "video_title": "",
        "video": "https://www.youtube.com/watch?v=e4wSKQBcoic"
      },
      "type": "video",
      "version": 1,
      "card_name": {
        "en-US": "Video",
        "zh-CN": "视频"
      }
    },
    "1584340470325": {
      "name": "products",
      "cname": {
        "en-US": "Feature collection",
        "zh-CN": "专辑商品"
      },
      "category": {
        "en-US": "Product",
        "zh-CN": "商品"
      },
      "ccategory": {
        "en-US": "Product",
        "zh-CN": "商品"
      },
      "display": true,
      "is_show_recommended_products": true,
      "blocks": [],
      "settings": {
        "collection": null,
        "name": "Nouvelles Arrivées",
        "line_number": 2,
        "grid": 4,
        "image_size": "medium"
      },
      "type": "products",
      "version": 1,
      "card_name": {
        "en-US": "Feature collection",
        "zh-CN": "专辑商品"
      }
    },
    "1584340477607": {
      "name": "feature_columns",
      "cname": {
        "en-US": "Graphics list",
        "zh-CN": "图文列表"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "display": true,
      "blocks": [{
        "type": "text_block",
        "name": {
          "en-US": "Graphics",
          "zh-CN": "图文"
        },
        "settings": {
          "enable_image": true,
          "image": "",
          "url": "",
          "title": "Bons colliers",
          "text": "<p>De l'or v&eacute;ritable, &agrave; un prix honn&ecirc;te, d'origine &eacute;thique, qui fait du bien et qui va bien. Puisque vous ne devriez pas avoir &agrave; choisir.</p>",
          "button_label": "",
          "button_link": ""
        }
      }, {
        "type": "text_block",
        "name": {
          "en-US": "Graphics",
          "zh-CN": "图文"
        },
        "settings": {
          "enable_image": true,
          "image": "",
          "url": "",
          "title": "Nouvelles Arrivées",
          "text": "<p>Or pur, diamants &agrave; puret&eacute; SI et perles Akoya, tous fabriqu&eacute;s &agrave; la main &agrave; New York. Seuls les meilleurs mat&eacute;riaux con&ccedil;us pour durer &eacute;ternellement.</p>",
          "button_label": "",
          "button_link": ""
        }
      }, {
        "type": "text_block",
        "name": {
          "en-US": "Graphics",
          "zh-CN": "图文"
        },
        "settings": {
          "enable_image": true,
          "image": "",
          "url": "",
          "title": "Grosses soldes",
          "text": "<p>Nous pensons que vendre 10 fois plus cher est insens&eacute;. En vendant en direct, nous vous apportons le meilleur du luxe moins le prix excessif.</p>",
          "button_label": "",
          "button_link": ""
        }
      }],
      "settings": {
        "title": "Suivez ce que vous aimez",
        "align_text": "left"
      },
      "type": "feature_columns",
      "version": 1,
      "card_name": {
        "en-US": "Graphics list",
        "zh-CN": "图文列表"
      }
    },
    "1584340481974": {
      "name": "video",
      "cname": {
        "en-US": "Video",
        "zh-CN": "视频"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "display": true,
      "blocks": [],
      "settings": {
        "video_title": "",
        "video": "https://www.youtube.com/watch?v=OaAl6qhMiM4"
      },
      "type": "video",
      "version": 1,
      "card_name": {
        "en-US": "Video",
        "zh-CN": "视频"
      }
    },
    "1584340487475": {
      "name": "logo_bar",
      "cname": {
        "en-US": "Brand list",
        "zh-CN": "品牌列表"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "display": true,
      "blocks": [{
        "type": "logo_image",
        "name": {
          "en-US": "Brand image",
          "zh-CN": "品牌图"
        },
        "max_blocks": 20,
        "settings": {
          "image": "",
          "link": ""
        }
      }, {
        "type": "logo_image",
        "name": {
          "en-US": "Brand image",
          "zh-CN": "品牌图"
        },
        "max_blocks": 20,
        "settings": {
          "image": "",
          "link": ""
        }
      }, {
        "type": "logo_image",
        "name": {
          "en-US": "Brand image",
          "zh-CN": "品牌图"
        },
        "max_blocks": 20,
        "settings": {
          "image": "",
          "link": ""
        }
      }, {
        "type": "logo_image",
        "name": {
          "en-US": "Brand image",
          "zh-CN": "品牌图"
        },
        "max_blocks": 20,
        "settings": {
          "image": "",
          "link": ""
        }
      }],
      "settings": {
        "title": ""
      },
      "type": "logo_bar",
      "version": 1,
      "card_name": {
        "en-US": "Brand list",
        "zh-CN": "品牌列表"
      }
    },
    "1584340493069": {
      "name": "gallery",
      "cname": {
        "en-US": "Single row image",
        "zh-CN": "单排图片"
      },
      "category": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "ccategory": {
        "en-US": "Material",
        "zh-CN": "素材"
      },
      "display": true,
      "blocks": [{
        "type": "banner",
        "name": {
          "en-US": "Image",
          "zh-CN": "图片"
        },
        "disableText": {
          "en-US": "Add images up to 4",
          "zh-CN": "最多添加4个图片"
        },
        "settings": {
          "src": "",
          "link": "",
          "alignment": "center",
          "title": ""
        }
      }, {
        "type": "banner",
        "name": {
          "en-US": "Image",
          "zh-CN": "图片"
        },
        "disableText": {
          "en-US": "Add images up to 4",
          "zh-CN": "最多添加4个图片"
        },
        "settings": {
          "src": "",
          "link": "",
          "alignment": "center",
          "title": ""
        }
      }, {
        "type": "banner",
        "name": {
          "en-US": "Image",
          "zh-CN": "图片"
        },
        "disableText": {
          "en-US": "Add images up to 4",
          "zh-CN": "最多添加4个图片"
        },
        "settings": {
          "src": "",
          "link": "",
          "alignment": "center",
          "title": ""
        }
      }, {
        "type": "banner",
        "settings": {
          "src": "",
          "link": null,
          "alignment": "center",
          "title": null
        }
      }],
      "settings": {
        "image_height": "medium"
      },
      "type": "gallery",
      "version": 1,
      "card_name": {
        "en-US": "Single row image",
        "zh-CN": "单排图片"
      }
    },
    "1584340506868": {
      "name": "newsletter",
      "cname": {
        "en-US": "Mail subscriptions",
        "zh-CN": "邮件订阅"
      },
      "category": {
        "en-US": "Marketing",
        "zh-CN": "营销"
      },
      "ccategory": {
        "en-US": "Marketing",
        "zh-CN": "营销"
      },
      "display": true,
      "blocks": [],
      "settings": {
        "title": "Inscrivez-vous à notre newsletter",
        "sub_title": "Ne manquez jamais une nouvelle saison",
        "btn_title": "Subscribe",
        "title_thanks": "Thanks for Subscribing！",
        "sub_title_thanks": "We will send news to your email."
      },
      "type": "newsletter",
      "version": 1,
      "card_name": {
        "en-US": "Mail subscriptions",
        "zh-CN": "邮件订阅"
      }
    }
  },
  "content_for_page": [1541676727396, 1584340459232, 1584340463155, 1584340470325, 1584340477607, 1584340481974, 1584340487475, 1584340493069, 1584340506868]
}